{% extends '::base.html.twig' %}

{% block body %}

    {% include 'BlackUserBundle:Front:header.html.twig' %}

    <section class="intro container">
        <div class="row">
            <div class="span12">
                <br><br>
                <p>{% trans with { '%name%': person.name } from "views" %}person.www.me.profile.hello{% endtrans %}</p>
            </div>
        </div>
    </section>

    <section id="services" class="container">
        <div class="row">
            <div class="span12">
                <h1>{{ person.name }}</h1>
                <p>
                    <a href="{{ url('person_me_edit', {}, true) }}">Editer mon profil</a>
                </p>
            </div>
        </div>
    </section>

    {% include 'BlackUserBundle:Front:footer.html.twig' %}
{% endblock %}
