{% extends 'BlackAdminBundle::base.html.twig' %}
{% block body %}

{% if document is not defined %}
    {% set document = {} %}
{% endif %}

{% include 'BlackAdminBundle:Admin:header.html.twig' %}
{% include 'BlackAdminBundle:Admin:sidebar.html.twig' %}
{% block sidebar_person %}
{% include 'BlackPersonBundle:AdminPerson:sidebar.html.twig' with {'document': document, 'mail': true} %}
{% endblock %}

    {% set admin_index = 'admin_persons' %}
    {% set admin_delete = 'admin_person_delete' %}
    {% set admin_edit = 'admin_person_edit' %}
    {% set admin_new = 'admin_person_new' %}
    {% set admin_show = 'admin_person_show' %}

    <div id="content">
        {% block content_top %}
            {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with {'title': "person.admin.contentTop.person.text"} %}
        {% endblock %}
        {% include 'BlackConfigBundle:Admin:breadLine.html.twig' with {
            'route': admin_new,
            'text': "person.admin.breadLine.person.new.text",
            'a_route': admin_index,
            'a_text': "person.admin.breadLine.person.breadcrumb.a.text",
            'a_title': "person.admin.breadLine.person.breadcrumb.a.title"
            }
        %}
        {#  Main content  #}
        <div class="wrapper">

            {% if form is defined %}
                {% include 'BlackAdminBundle:AdminForm:errors.html.twig' with {'form': form} %}
            {% endif %}
            {% include 'BlackAdminBundle:Admin:flashes.html.twig' with {'flashes': app.session.FlashBag()} %}

            {% block page_content %}{% endblock %}

        </div>
    </div>

{% endblock %}