{% extends 'BlackPersonBundle:AdminPerson:base.html.twig' %}
{% block content_top %}
    {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with {'title': "person.admin.contentTop.person.new.text"} %}
{% endblock %}
{% block page_content %}
    <div class="fluid">
        <form id="validate" class="main" action="{{ path(admin_new) }}"  method="post" {{ form_enctype(form) }}>
            {% include 'BlackAdminBundle:AdminForm:fieldset.html.twig' with {'form': form, 'title': "person.admin.fieldset.person.new.text"} %}
        </form>
    </div>
    {% include 'BlackPersonBundle:AdminPerson:js.html.twig' with {'form': form} %}
{% endblock %}
